body{
	background: rgb(255,255,255);

}
.container{
	border: 1px solid gray;
	/*width: 600px;*/
	padding: 20px;
	padding-top: 10px;
	border-radius: 5px;
	background-color: rgb(230,230,230);
}
.btn{
	font-size: 1em;
	padding: 6px;
}
.container_resultat
{
	height : 600px;
	background: rgb(255,255,255);
	border-radius: 15px;
}
thead{
	background-color: rgb(55,55,57);
	color: white;
}
.ligne_result {
	text-decoration: underline;
}
a {
	color: rgb(26,47,174);
}
.li_title {
	color: rgb(26,47,174);
}
.li_url{
	color: black;
	font-size : 0.8em;
	 text-decoration: none !important;
}

ul{
	list-style-image: url("/../Assets/images/fleche.png");
}